@import "./colors.scss";

@media screen and (max-width: 1100px) {
  nav {
    > div {
      width: 75%;
      font-size: small;
    }
  }
  .jobs {
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
    }
  }
  #successstories {
    .people {
      .img {
        > img {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}
@media screen and (max-width: 870px) {
  #blog {
    section {
      display: flex;
      justify-content: center;
      flex-direction: column;

      align-items: center;
      > div {
        height: 50vh;
      }
      .section1 {
        height: 50vh;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  nav {
    > div {
      display: none;
    }
  }

  .navBtn {
    display: inline;
  }
  .jobs {
    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
  #successstories {
    .people {
      flex-direction: column;
      justify-content: space-between;
      background-color: aliceblue;
      .img {
        > img {
          border-radius: 30px;
          width: 150px;
          height: 150px;
          // padding: 5%;
        }
      }
      .content {
        padding: 5%;
        text-align: left;
        > h4 {
          font-size: medium;
        }
        > p {
          line-height: normal;
          font-size: small;
          padding: 2% 0;
        }
        > a button {
          padding: 10px;
          font-size: small;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .bannercontent {
    > p {
      line-height: normal;
      font-size: small;
      letter-spacing: 2px;
    }
    > div {
      width: 160%;
    }
    > button {
      padding: 3%;
    }
  }
  .banner2 {
    .logos-slide img {
      background-color: black;
      height: 40px;
      margin: 0 10px;
    }
  }

  .jobs {
    .card {
      > h4 {
        font-size: medium;
      }
      > p {
        font-size: small;
        line-height: normal;
      }
      > button {
        font-size: xx-small;
      }
    }
  }
  .footer {
    height: 30vh;
    > h2 {
      font-size: small;
    }
    .grid-item {
      width: 100%;
      // padding: ;
      font-size: xx-small;
      text-align: center;
    }
    .copywrite{
      font-size: x-small;
    }
  }
}
